<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UVA GradSWE</title>
    <!-- Ion Icons -->
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/8f88cd3edb.js"
      crossorigin="anonymous"
    ></script>
    <!-- Stylesheet -->
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!--Nav markup goes here-->
    <header>
      <div class="container">
        <nav>
          <div class="menu-icons">
            <i class="icon ion-md-menu"></i>
            <i class="icon ion-md-close"></i>
          </div>
          <a href="/" class="logo">
            <img src="images/swe-logo-white.svg" alt="" />
          </a>
          <ul class="nav-list">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#"
                >About
                <i class="icon ion-md-arrow-dropdown"></i>
              </a>
              <ul class="sub-menu">
                <li><a href="/missionstatement">Mission Statement</a></li>
                <li><a href="/exec">Executive Team</a></li>
              </ul>
            </li>
            <li>
              <a href="#"
                >Events
                <i class="icon ion-md-arrow-dropdown"></i>
              </a>
              <ul class="sub-menu">
                <li><a href="/upcomingevents">Upcoming Events</a></li>
                <li>
                  <a href="#"
                    >Committees
                    <i class="icon ion-md-arrow-dropright"></i>
                  </a>
                  <ul class="sub-menu">
                    <li><a href="/professional">Professional</a></li>
                    <li><a href="/social">Social</a></li>
                    <li><a href="/outreach">Outreach</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="/resources">Resources</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!--End nav-->
  </body>
</html>
