<%- include("partials/header") %>
<section class="contact" id="contact">
  <h1>Contact Us!</h1>
  <div class="msg"><%= msg %></div>
  <form method="POST" action="/send">
    <label class="name"
      >Name: <input type="text" name="name" id="name" />
    </label>

    <label class="email"
      >Email: <input type="email" name="email" id="email" />
    </label>

    <label message="message" class="message"
      >Message:
      <textarea name="message" id="message"></textarea>
    </label>
    <input class="button form-button" type="submit" value="SEND" />
  </form>
</section>
<%- include("partials/footer") %>
