<%- include("partials/header") %>
<section class="personal-bio">
  <div class="title">
    <h1>Erica Loudermilk</h1>
    <p>Event Coordinator</p>
  </div>
  <article class="bio">
    <img
      src="images/Erica L.jpeg"
      alt="Event Coordinator of GradSWE next to a column"
    />
    <p>
      Erica Loudermilk is a third year Environmental Engineering PhD student
      with research focused on environmental dissemination of antibiotic
      resistance. She also serves on the executive board of the ESE Graduate
      Student Council and is involved with several off-campus STEM outreach
      initiatives. In her spare time, Erica loves hiking, backpacking, reading,
      and finding new dogs to befriend.
    </p>
  </article>
</section>
<%- include("partials/footer") %>
