<%- include("partials/header") %>
<section class="personal-bio">
  <div class="title">
    <h1>Erica Hui</h1>
    <p>Vice President</p>
  </div>
  <article class="bio">
    <img src="images/Erica H.jpeg" alt="" />
    <p>
      Erica Hui is a fourth year Chemical Engineering PhD student working in the
      biomaterials and tissue engineering fields. In addition to GradSWE, she is
      involved in Chemical Engineering Graduate Board and the Biotechnology
      Training Program. Outside of research, Erica enjoys reading, finding new
      restaurants, and spending time with friends.
    </p>
  </article>
</section>
<%- include("partials/footer") %>
