<%- include("partials/header") %>

<section class="exec">
  <div class="title">
    <h1>Executive Team</h1>
  </div>
  <div class="profiles">
    <article>
      <a href="naomi"> <img src="images/Naomi.jpeg" alt=""/></a>
      <a href="naomi">Naomi Miyake</a>
      <p>President</p>
    </article>
    <article>
      <a href="ericah"> <img src="images/Erica H.jpeg" alt="" /> </a>
      <a href="ericah">Erica Hui</a>
      <p>Vice President</p>
    </article>
    <article>
      <a href="juliet"> <img src="images/Juliet.jpeg" alt="" /> </a>
      <a href="juliet">Juliet Simpson</a>
      <p>Secretary</p>
    </article>
    <article>
      <a href="xueying"> <img src="images/Xueying.jpeg" alt="" /> </a>
      <a href="xueying">Xueying Zhao</a>
      <p>Treasurer</p>
    </article>
    <article>
      <a href="erical"> <img src="images/Erica L.jpeg" alt="" /> </a>
      <a href="erical">Erica Loudermilk</a>
      <p>Event Coordinator</p>
    </article>

    <article>
      <a href="tiffany"> <img src="images/Tiffany.jpeg" alt="" /> </a>
      <a href="tiffany">Tiffany Ly</a>
      <p>Outreach Coordinator</p>
    </article>
    <article>
      <a href="natalia"> <img src="images/Natalia.jpeg" alt="" /> </a>
      <a href="natalia">Natalia Montenegro</a>
      <p>Publicity</p>
    </article>
  </div>
</section>

<%- include("partials/footer") %>
