<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UVA GradSWE</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
    <link href="/public/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!--Nav markup goes here-->
    <header>
      <div class="container">
        <nav>
          <div class="menu-icons">
            <i class="icon ion-md-menu"></i>
            <i class="icon ion-md-close"></i>
          </div>
          <a href="index.html" class="logo">
            <img src="/public/images/swe-logo-white.svg" alt="" />
          </a>
          <ul class="nav-list">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href=""
                >About
                <i class="icon ion-md-arrow-dropdown"></i>
              </a>
              <ul class="sub-menu">
                <li><a href="">Mission Statement</a></li>
                <li><a href="">Executive Board Team</a></li>
              </ul>
            </li>
            <li>
              <a href=""
                >Events
                <i class="icon ion-md-arrow-dropdown"></i>
              </a>
              <ul class="sub-menu">
                <li><a href="">Upcoming Events</a></li>
                <li>
                  <a href=""
                    >Committees
                    <i class="icon ion-md-arrow-dropdown"></i>
                  </a>
                  <ul class="sub-menu">
                    <li><a href="">Professional</a></li>
                    <li><a href="">Social</a></li>
                    <li><a href="">Outreach</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Resources</a>
            </li>
            <li>
              <a href="">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!--End nav-->

    <script src="/scripts.js"></script>
  </body>
</html>
