<%- include("partials/header") %>
<section class="personal-bio">
  <div class="title">
    <h1>Juliet Simpson</h1>
    <p>Secretary</p>
  </div>
  <article class="bio">
    <img src="images/Juliet.jpeg" alt="" />
    <p>
      Juliet is a PhD student in Mechanical and Aerospace Engineering studying
      offshore wind energy and energy store. She did her undergraduate at NC
      State University. Outside of school, Juliet enjoys running, rock climbing,
      and hiking.
    </p>
  </article>
</section>
<%- include("partials/footer") %>
