<%- include("partials/header") %>
<section class="mission-statement">
  <div class="title">
    <h1 class="heading">Mission Statement</h1>
  </div>
  <div class="body">
    <img
      src="images/01_Group.jpeg"
      alt="7 members of the exec board standing in front of the rotunda"
    />
    <div class="paragraphs">
      <p class="p1">
        Our mission is to support female graduate engineers as they achieve
        academic and life goals. We host events to foster a more diverse and
        inclusive engineering community and advocate for changes that result in
        a more supportive environment for engineers at the university. We strive
        to create a welcoming environment for all students. More about GradSWE
        at a national level can be found
        <a href="http://gradswe.swe.org/">here</a>.
      </p>

      <p>
        GradSWE at UVA was established in 2016 by five female engineers. Since
        then, we have expanded to an eight person executive team, department
        representatives from each engineering discipline, and a membership of
        over 50 people.
      </p>
    </div>
  </div>
</section>
<%- include("partials/footer") %>
