<%- include("partials/header") %>
<section class="personal-bio">
  <div class="title">
    <h1>Naomi Miyake</h1>
    <p>President</p>
  </div>
  <article class="bio">
    <img src="images/Naomi.jpeg" alt="" />
    <p>
      Naomi Miyake is a fourth year PhD candidate in the department of Chemical
      Engineering studying catalysts for application in chemical reactions.
      Besides serving as the president of GradSWE, she is also the co-chair of
      the academic committee for the Graduate Engineering Student Council, a PhD
      Plus Liaison for Research communication, and the president of Christian
      Students at UVa. In her free time, Naomi likes to play soccer, drink
      coffee, and spend time with her friends.
    </p>
  </article>
</section>
<%- include("partials/footer") %>
