<%- include("partials/header") %>
<section class="personal-bio">
  <div class="title">
    <h1>Natalia Montenegro</h1>
    <p>Publicity</p>
  </div>
  <article class="bio">
    <img
      src="images/Natalia.jpeg"
      alt="Publicity coordinator of GradSWE next to a column"
    />
    <p>
      Natalia is a second-year PhD student in the department of Chemical
      Engineering from Orlando, Florida. Her research focuses on studying
      catalysts for methane oxidation in natural gas engine aftertreatment
      systems. In addition to being involved in GradSWE, she is also part of the
      Latinx Graduate Student Alliance (LGSA). In her spare time, she enjoys
      spending time with her dog and plants, dances bachata from time to time,
      and drinking coffee.
    </p>
  </article>
</section>
<%- include("partials/footer") %>
