<%- include("partials/header") %>
<section class="outreach">
  <div class="header">
    <img src="/images/outreach.jpg" alt="" />
    <div class="centertext">Outreach</div>
  </div>
  <div class="body">
    <p class="p1">
      Our outreach program focuses on increasing the entry of women and
      underrepresented minorities to engineering fields of study both at the
      undergraduate and graduate level and improving the retention of women and
      underrepresented minorities in engineering graduate programs.
    </p>
    <p class="p2">
      We do internal outreach through the SWE undergraduate branch at UVA
      through mentorship and participating in panel sessions. Within
      Charlottesville and the nationwide community, we focus on participating in
      or hosting events to promote STEM fields at the K-12 level. In the past,
      we have volunteered at engineering programs in local schools, hosting lab
      tours and demonstrations for middle school and high school students, and
      volunteering with a national essay writing contest.
    </p>
    <p class="p3">
      If you are interested in participating or have ideas for events you would
      like us to host or attend, please email Tiffany Ly at
      <a href="mailto:tiffany@virginia.edu">tiffany@virginia.edu</a>.
    </p>
  </div>
</section>

<%- include("partials/footer") %>
