<%- include("partials/header") %>
<section class="professional">
  <div class="header">
    <img
      src="/images/profbackcrop.jpg"
      alt="members of GradSWE in a group photo"
    />
    <div class="centertext">Professional</div>
  </div>
  <div class="body">
    <p class="p1">
      Our goal with professional and career development is to introduce graduate
      students to various career opportunities. We hope that the resources we
      provide can assist each student shape their education to meet their career
      goals. In addition, we are committed to providing access to resources that
      allow for diverse career opportunities through collaboration with the
      community, university, and professional contacts.
    </p>
    <p class="p2">
      To this end, we encourage participation in events hosted by groups such as
      Charlottesville Women in Technology (CWIT) within the community and work
      closely with the Center for Diversity in Engineering (CDE) at the
      University of Virginia to host events.
    </p>
    <p class="p3">
      If you are interested in participating in planning events or have an idea
      for an event you'd like to see happen, contact Erica Loudermlik at
      <a href="mailto:eml5ys@virginia.edu">eml5ys@virginia.edu</a>.
    </p>
  </div>
</section>

<%- include("partials/footer") %>
