<%- include("partials/header") %>
<section class="resources">
  <div class="title">
    <h1 class="heading">Resources for GradSWE</h1>
  </div>
  <div class="body">
    <p>
      SWE Chapters National SWE Page -
      <a href="https://swe.org">https://swe.org</a>
    </p>
    <p>
      National GradSWE Page -
      <a href="http://gradswe.swe.org">http://gradswe.swe.org</a>
    </p>
    <p>
      WE20 (National SWE conference) -
      <a href="https://we20.swe.org">https://we20.swe.org</a>
    </p>
    <p>
      Undergraduate SWE at UVA -
      <a href="https://www.virginiaswe.org">https://www.virginiaswe.org</a>
    </p>
    <p>
      Mental Health and Wellness Counseling and Psychological Services at UVA -
      <a href="https://www.studenthealth.virginia.edu/caps"
        >https://www.studenthealth.virginia.edu/caps</a
      >
    </p>
    <p>
      Region Ten (Charlottesville service) -
      <a href="http://regionten.org">http://regionten.org</a>
    </p>
    <p>
      Maxine Platzer Lynn Women’s Center at UVA -
      <a href="https://womenscenter.virginia.edu"
        >https://womenscenter.virginia.edu</a
      >
    </p>
    <p>
      Career Development Center for Engineering Career Development -
      <a
        href="https://engineering.virginia.edu/about/offices/center-engineering-career-development"
        >https://engineering.virginia.edu/about/offices/center-engineering-career-development</a
      >
    </p>
  </div>
</section>

<%- include("partials/footer") %>
