<%- include("partials/header") %>
<section class="social">
  <div class="header">
    <img src="/images/social1.jpg" alt="" />
    <div class="centertext">Social</div>
  </div>
  <div class="body">
    <p class="p1">
      We strive to provide a community that promotes a supportive, diverse, and
      inclusive community that provides resources for engineering graduate
      students at the University of Virginia. Through our social events, we aim
      to build strong ties among our graduate students, postdoctoral fellows,
      undergraduate students, and faculty. We hope that participants will be
      able to expand their existing network of engineers and create new
      connections.
    </p>
  </div>
</section>

<%- include("partials/footer") %>
