<%- include("partials/header") %>
<section class="success">
  <div class="title">
    <h1>Message Sent! Thanks for reaching out, we'll be in touch shortly.</h1>
  </div>
</section>
<%- include("partials/footer") %>
