<%- include("partials/header") %>
<section class="personal-bio">
  <div class="title">
    <h1>Tiffany Ly</h1>
    <p>Outreach Coordinator</p>
  </div>
  <article class="bio">
    <img
      src="images/Tiffany.jpeg"
      alt="Outreach coordinator of GradSWE next to a column"
    />
    <p>
      Tiffany Ly is a fifth year Electrical engineering PhD candidate with a
      focus in image and video processing. Besides GradSWE, she is also involved
      in with the IEEE Signal Processing Society UVA Chapter, and the IEEE Eta
      Kappa Nu UVA Chapter. Outside of research, Tiffany enjoys exploring the
      outdoors with her dog, discovering new breweries/wineries, and cooking.
    </p>
  </article>
</section>
<%- include("partials/footer") %>
