<%- include("partials/header") %>
<section class="personal-bio">
  <div class="title">
    <h1>Xueying Zhao</h1>
    <p>Treasurer</p>
  </div>
  <article class="bio">
    <img src="images/Xueying.jpeg" alt="" />
    <p>
      Xueying is a fourth year Chemical Engineering student from Shenyang,
      China. She hopes to use what she learns at UVA to help to solve
      environmental problems. Besides GradSWE, she is a member of Women in
      Chemical Engineering and involved in random act of volunteering. She also
      enjoys hiking, cooking and taking pictures in her spare time.
    </p>
  </article>
</section>
<%- include("partials/footer") %>
